.course-page-list-item-div:hover {
  background-color: #eef7ff;
}

.course-page-button:hover {
  background-color: #565656;
}
.course-page-button {
  background-color: #6b6b6b;
  border: none;
  border-radius: 80px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.assignment-list {
  left: 865px;
  top: 50px;
  position: absolute;
  width: 200px;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  padding: 10px 0;
}

.assignment-list-item {
  padding: 7px 10px;
  cursor: pointer;
}
.assignment-list-item:hover {
  background-color: #f4f4f4;
}
