.new-sidebar-outer-div {
}

.new-sidebar-inner-div {
  height: calc(100dvh - 64px);
  width: 300px;
  background-color: #fff;
  flex-shrink: 0;
  position: sticky;
  top: 64px;
  overflow-y: auto;
  transition: left 0.5s ease;
  z-index: 1000;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.new-sidebar-inner-div.new-sidebar-inner-div-reopen {
  left: 0;
}

/* Allowing scrolling without scrollbar */
.new-sidebar-inner-div::-webkit-scrollbar {
  width: 0;
}

.new-sidebar-inner-div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.new-sidebar-logo-div {
  max-height: 150px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  /* border-bottom: 2px solid #eae9e9; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

#new-sidebar-logo {
  max-width: 150px;
  margin: auto;
}

.new-sidebar-link-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 50px;
}
.new-sidebar-links {
  margin: 7px 0;
}
.new-sidebar-links-div {
  min-width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.new-sidebar-links a:hover {
  /* background-color: rgba(0, 0, 0, 0.041); */
  background-color: #ebe7e7;
  z-index: 0;
}

.new-sidebar-links a {
  display: block;
  text-decoration: none;
  color: gray;
  padding: 7px 30px 7px;
  border-radius: 5px;
  width: 70%;
}
/* .new-sidebar-navbar {
    display: none;
  } */
.new-sidebar-navbar {
  display: flex;
  color: black;
  position: sticky;
  top: 0;
  padding: 10px 30px;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3),
    0 8px 12px 6px rgba(60, 64, 67, 0.15);
  height: 64px;
  box-sizing: border-box;
  align-items: center;
}
input[type="checkbox"] {
  display: none;
}

.new-sidebar-hamburger {
  font-size: 24px;
  user-select: none; /**/
  color: black;
  display: none;
}

@media (max-width: 800px) {
  .new-sidebar-inner-div {
    position: fixed;
    left: -300px;
    height: 100dvh;
    top: 0px;
    box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3),
      0 8px 12px 6px rgba(60, 64, 67, 0.15);
    border: none;
  }
  .new-sidebar-outer-div {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  html {
    width: 100vw;
  }
}

.new-sidebar-inner-div-reopen {
  display: block;
  position: fixed;
  /* z-index: 1000; */
}

@media (max-width: 400px) {
  .new-sidebar-inner-div.new-sidebar-inner-div-reopen {
    max-width: 60%;
  }
}

@media (max-width: 360px) {
  .new-sidebar-link-list {
    padding: 0;
    padding-top: 20px;
    padding-left: 36px;
    transition: padding-top 0.1s ease, padding-left 0.1s ease;
  }
}
@media (max-width: 250px) {
  #new-sidebar-logo {
    max-width: 100%;
  }
  .new-sidebar-link-list {
    font-size: small;
  }
}

#new-sidebar-bottom-link-list {
  position: sticky;
  padding: 20px 0px;
  margin-bottom: 0;
  bottom: 0;
  /* border-top: 1px solid white; */
  border-top: 2px solid rgba(0, 0, 0, 0.12);

  background-color: #fff;
  min-height: 20%;
}
